html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.title {
    font-family: 'Arial', sans-serif; /* Choose a font family */
    font-size: 3em; /* Adjust the size */
    color: #e40a0a; /* Set the color */
    text-align: center; /* Center the text */
    text-shadow: 2px 2px 4px #5188b4; /* Add a shadow effect */
    margin-top: 50px; /* Add some space at the top */
}
header {
    opacity: 0.7;
    position: fixed;
    text-align: center;
    background-color: rgba(51, 51, 51, 1);
    /* Light background color */
    top: 0px;
    width: 100%;
}

header a {
    margin-left: 0;
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    /* Link color */
}

header select {
    margin-left: 10px;
}
main{
    background-color: red;
    text-align: center;
    color: white;
    flex: 1;
}
.patientRegistation{
    color: black;
    text-align: left;
    background-image: url(./../images/hopital_image.jfif);
}
input{
    border-radius: 5px;
    border: solid blue;
}

textarea{
    border-radius: 5px;
    border: solid blue;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
h2{
    padding: 5px;
    margin-top: 15px;
    display: inline-block;
    color: rgb(85, 73, 5);
    border: 5px solid rgb(92, 8, 92); /* Border for the section */
    border-radius: 10px;
    background-image: url(./../images/conqueror.jpg);
    animation: fadeIn 2s ease-in-out;
}
table,th,td{
    background-color: rgb(67, 10, 141);
    margin-left: auto;
    margin-right: auto;
    color: antiquewhite;
    border: Outset black;
    border-radius: 10px;
    border-color: rgb(162, 219, 233);
}
caption{
    font-size: large;
    border-radius: 10px;
    color: gold;
}
#tables{
    display: inline-block;
    width:100vw;
    border: 2px solid rgb(76, 207, 36); /* Border for the section */
    align-items: center;
    background-image: url(./../images/conqueror.jpg);
    padding: 10px;
}
section{
    align-content: center;
}
footer{
    position: fixed;
    bottom: 0%;
    height: fit-content;
}
.links{ 
    display: block;
    opacity: 1;
}
.links-features{
    display: inline-block;
    opacity: 1;
}
.ambulance{
    display: inline;
    margin-right: 0%;
    opacity: 1;
}
.doctors{
    display: inline-block;
    border: groove black;
}